.backBtn{
    cursor: pointer;
    display: inline-flex;
    padding: 8px 16px;
    font-size: 14px;
    align-items: center;
    gap:4px;
    border:none;
    border-radius: 32px;
    user-select: none;
    background-color: transparent;
    outline: 1px solid #2C2C2C;
    transition: .4s;
}

.backBtn .icon{
    transform: translateX(0);
    transition: .2s ease;

}

.backBtn:hover .icon{
   transform: translateX(-30%);

}