.option{
    user-select: none;
    font-size: 32px;
}
.container{
    display: flex;
    align-items: center;
}
.container:active .buttonOptions{
    opacity: 1;
}
.button{
    background-color:transparent;
    border-radius: 24px;
    color:#373737;
    cursor: pointer;
    border: 1px solid #b0b0b0;
    padding: 8px 24px;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s ease;
}
.button:hover{
    box-shadow: 0px 0px 4px -1px #ada6a6;
}

.buttonOptions{
    list-style-type: none;
    border-radius: 8px;
    opacity:0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    transition: .3s;

}

.buttonOptions_element{
    background-color: #fff;
}
.options{
    background-color: #ada6a6;
}