.text{
	color:var(--light);
	font-weight:600;
}
.btn{
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	display: flex;
	align-items: center;
	gap:4px;
}
.btn svg{
	stroke-width: 2;
	fill:var(--light);
/*	stroke:var(--light);*/
}