.Wrapper{
	width:18vw;
	padding:16px;
	border-Radius:6px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	display:flex;
	flex-direction:column;
}

.text{
	color:var(--light);
	font-weight:600;
}
.btn{
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	display: flex;
	align-items: center;
	gap:4px;
}
.btn svg{
	stroke-width: 2;
	fill:var(--light);
/*	stroke:var(--light);*/
}