.img{
	clip-path:polygon(0 0, 0% 100%, 100% 50%)
}

@media all and (max-width:700px){
	.section{
		background: rgb(6 10 15 / 65%);
		backdrop-filter: blur(2px);
		position: absolute;
		bottom: 0px;
}
	.img{
		width: 100%;
		clip-path:none;
	}
}