.GamesList{

}

.container{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
    gap: 16px;
    margin-top: 32px;
}
.title{
    color:#343434;
    position: relative;
}
