.popoverLeft,.popoverRight,.popoverBottom{
	background-color:white;
	border-radius:4px;
	width:fit-content;
	max-height:550px;
	overflow-y:hidden;
	position:absolute;
	z-index:123123234;
}
.popoverLeft{
	bottom:0;
	right:130%;
}
.popoverRight{
	bottom:0;
	left:100%;
}
.popoverBottom{
	top:100%;
/*	right:900px;*/
}

@media all and (max-width:480px){
	.popoverRight,.popoverLeft{
		width: calc(100vw - 30vw);
	}
	.fColumn{
		flex-direction: column;
	}
	
}