.gameContainer{
    display:flex;
    flex-direction: column;
}
.container_row{
    display: grid;
    height: auto;
    gap:32px;
    grid-template-columns: minmax(500px,.8fr) minmax(100px,1fr);    
}

.img{
    width: 100%;
    border-radius:8px;
    object-fit: cover;
}
.imgContainer{
    min-width: 100%;

    display: block;
    position: relative;

}
.grid_column_category{
    color:#6F6F6F;
    font-weight: 600;
}
.grid_column_data{
    font-size: 14px;
    color:#2C2C2C;
    font-weight: 700;

}
.gameDetails_gridInfo{
    margin-top: 24px;
    display: grid;
    gap:16px;
    grid-template-columns: auto auto auto;
}
.gameDetails_mainTitle{
    font-size:45.23px ;
    color:#2C2C2C;
}
.gameDetails_developer{
    color: #6F6F6F;
    font-weight: 600;
}
.labelsGrid{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    
}
@media all and (max-width:1024px){
    .container_row{
        display:flex;
        flex-direction: column;
    } .imgContainer{
        min-width: 100%;
    }
    .img{
    }
}