.container {

}
.homeTitle{
    color:transparent;
    background: radial-gradient(circle, rgba(212,29,29,1) 0%, rgba(154,10,28,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90.44px;
    letter-spacing: -4px;
}


.homeDesc{
    font-size: 22.62px;
    color: #6F6F6F;
}
@media all and (max-width:600px){
    .homeTitle{
        font-size: 63.96px
    }
}
.heroImg{
    border-radius:4px;
    height: 100%;
    overflow:hidden;
    height:inherit;}
@media all and (max-width:750px){
    .heroMainText{
        text-align: center;
    }
    .heroSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom:200px;
/*        min-width: 200px;*/
        width: 90%;
        left:50%;
        translate: -50% 50%;
        position: absolute;
    }
    .heroImg{
        flex-grow:1;
    }
    .homeTitle{
        font-size: 45.23px;
    }
    .homeDesc{
        font-size: 16px;
    }
}

.section{
    padding:16px 16px;
}
@media all and (max-width:500px){

}